{% extends 'base.html' %}
{% load static %}


  {% block bodycontent %}
  
  <div class="AboutTitle">
    <h1>About Page</h1>
  </div>
  <br>

  <div class="paragraph">
    <p>
        राजस्थान में भूमि का मापन एक महत्वपूर्ण प्रक्रिया है जो कि पटवारी नामक अधिकारी द्वारा किया जाता है। पटवारी एक सरकारी अधिकारी होता है जो भूमि के विवरण को रखता है और स्थानीय निवासियों के लिए भूमि के सम्बन्ध में संबंधित सेवाएं प्रदान करता है। 

भूमि का मापन राजस्थान में भूमि रसीद नामक दस्तावेज के रूप में किया जाता है। इसमें भूमि की सीमाएं, क्षेत्रफल, संपत्ति के मालिक का नाम और भुगतान आदि विवरण होते हैं। इसके अलावा, भूमि के मापन के लिए विभिन्न उपकरण जैसे लेजर टापोग्राफी इत्यादि का उपयोग किया जाता है। 

पटवारी भूमि के लिए संबंधित सेवाएं प्रदान करता है जैसे कि भूमि रसीद जारी करना, खतौनी जारी करना, जमाबंदी करना और भूमि के सम्बंध में अन्य जानकारियों को उपलब्ध कराना। उन्हें भूमि के सम्बंध में किसी भी विवाद के निपटान के लिए भी जिम्मेदारी सौंपी जाती है। 

पटवारी द्वारा भूमि का मापन विभिन्न तरीकों से किया जाता है। प्राचीनकाल में जहां भूमि का मापन मुश्किल होता था, वहाँ लोग त्रिकोणमिति और ज्यामिति के अनुसार मापन करते थे। आज के दौर में उपलब्ध तकनीक के साथ, लेजर टापोग्राफी, जिसमें लेजर से भूमि को स्कैन कर लिया जाता है, और जिससे उच्चतम निर्णय लिया जाता है। <br><br>

<h4><b>Unit - </b></h4>
राजस्थान में भूमि का मापन विभिन्न मापन इकाइयों में किया जाता है। भूमि के मापन के लिए उपयोग में आने वाली मापन इकाइयों में से प्रमुख इकाइयों में गज, बीघा, मूर्गा , हेक्टर  एवं किल्ला शामिल होते हैं। 

गज राजस्थान में भूमि के मापन के लिए उपयोग में आने वाली मापन इकाइयों में से एक है। गज की मापन इकाई 9 वर्ग फुट होती है। इस इकाई का उपयोग ज्यादातर सड़कों, मकानों एवं अन्य संरचनाओं के मापन में किया जाता है।

बीघा एक और मापन इकाई होती है जो भूमि के मापन में उपयोग में आती है। बीघा की मापन इकाई 17424 वर्ग फुट होती है। यह इकाई खेती एवं अन्य खेतों के मापन में उपयोग में आती है।

मूर्गा एवं किल्ला भी भूमि के मापन में उपयोग में आने वाली मापन इकाइयों में से हैं। मूर्गा एक छोटी मापन इकाई होती है जो 207 वर्ग फुट की होती है और किल्ला इकाई एक लंबी मापन इकाई होती है जो 4840 वर्ग यार्ड के बराबर होती है।<br><br>

<h4><b>DLC - </b></h4>
DLC यानी "दाखिला लेने का दर" भूमि रजिस्ट्री के समय उस भूमि के दाखिला लेने के लिए दर होता है। दाखिला लेने के लिए दर विभिन्न होते हैं जो राज्य सरकार द्वारा निर्धारित किए जाते हैं। दाखिला लेने का दर भूमि के क्षेत्र के आधार पर निर्धारित किया जाता है।

दाखिला लेने के दर के निर्धारण में भूमि के क्षेत्र, स्थान, बाग़ एवं बढ़त का प्रभाव होता है। दाखिला लेने के दर का निर्धारण भूमि के दाखिला लेने के समय उसके वर्तमान मूल्य के आधार पर किया जाता है। दाखिला लेने के दर को राज्य सरकार निर्धारित करती है और यह निर्धारित दरों के आधार पर भूमि का दाखिला लिया जाता है।

दाखिला लेने के दर का निर्धारण भूमि के नाम पर होना चाहिए। अगर भूमि के दाखिला लेने के दर के बारे में कोई भ्रम हो तो सम्पर्क करें और सभी जानकारी प्राप्त करें।
    </p>
  </div>
  
  <div class="signature">
<img src="{% static 'images/signature.png' %}" alt="My Image">
  </div>
  






  {% endblock %} 